$canvas-card-border-color: rgba(#000, 1);
$canvas-card-border-width: 2px;
$canvas-card-bg: rgba(#fff, 1);
$canvas-card-radius: $radius-md;

.canvas {
  // border: dashed 2px #00f;
  height: 100%;
  position: relative;
  user-select: none;
}

.canvas__card {
  position: absolute;
  left: 0;
  top: 0;
  border: solid $canvas-card-border-width $canvas-card-border-color;
  background-color: $canvas-card-bg;
  border-radius: $canvas-card-radius;
}

.canvas__card:hover .canvas__card-controls {
  display: block;
}

.canvas__card--current {
  border: dashed 2px #f00;
}

.canvas__card-ghost {
  left: 0;
  top: 0;
  pointer-events: none;

  border: dotted 2px #00f;
  background-color: rgba(#fff, 0.5);
  z-index: $canvas-ghost-z;
}

//

// Canvas card controls
.canvas__card-controls {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  border: solid 2px #f00;
  background-color: #fff;

  ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;

    &:first-child {
      margin-top: 0;
    }

    button {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}

//

.toolbar {
  border: solid 2px #f00;
  padding: map-get($spacing, '02');
  width: 15rem;
  max-height: 50vh;
}

.toolbar__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.toolbar__items > * {
  border: solid 2px #f00;
}
