$canvas-card-border-color: rgba(#000, 1);
$canvas-card-border-width: 2px;
$canvas-card-bg: rgba(#fff, 1);
$canvas-card-radius: $radius-md;

.canvas {
  // border: dashed 2px #00f;
  height: 100%;
  position: relative;
  user-select: none;
}

.canvas__card {
  position: absolute;
  left: 0;
  top: 0;
  border: solid $canvas-card-border-width $canvas-card-border-color;
  background-color: $canvas-card-bg;
  border-radius: $canvas-card-radius;
}

.canvas__card--current {
  border: dashed 2px #f00;
}

.canvas__card-ghost {
  left: 0;
  top: 0;
  pointer-events: none;

  border: dotted 2px #00f;
  background-color: rgba(#fff, 0.5);
  z-index: $canvas-ghost-z;
}
