@use 'sass:map';
@use '../base/settings' as S;
@use '../base/definitions' as D;
@use '../util/_index' as U;

@mixin make-info-panel-style($prefix) {
  $p: unquote($prefix);

  .#{$p} {
    @include U.position(absolute, bottom-right);
    z-index: map.get(D.$z-index, menu);
    margin: 0 S.$body-offset S.$body-offset 0;
    border: solid 2px S.$blueprint-blue-light;
    background: S.$blueprint-blue-dark;

    .divide-x > * + * {
      border-left: solid 2px S.$blueprint-blue-light;
    }

    .divide-y > * + * {
      border-top: solid 2px S.$blueprint-blue-light;
    }

    .flex {
      display: flex;
    }

    .flex.center-cross {
      align-items: center;
    }

    .flex.center-main {
      justify-content: center;
    }

    .flex.vertical {
      flex-direction: column;
    }

    dl {
      width: 10rem;
      // border: solid 1px #fff;
      display: grid;
      grid-template-columns: auto 2rem;

      dt,
      dd {
        // border: dashed 1px #fff;
      }

      dd {
        text-align: right;
        margin: 0;
      }

      hr {
        margin: 0;
        height: 2px;
        border: none;
        margin: map.get(D.$spacing, '03') 0 map.get(D.$spacing, '02');
        background-color: S.$blueprint-blue-light;
        grid-column: span 2;
        width: 100%;
      }
    }
  }

  .#{$p}__content {
    padding: map.get(D.$spacing, '03');
  }
}

@include make-info-panel-style('info-panel');
