@font-face {
  font-family: 'HK Grotesk';
  font-weight: 500;
  src: url('./HankenGrotesk-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 900;
  src: url('./HKGrotesk-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  src: url('./HKGrotesk-Bold.woff2') format('woff2');
}
