@font-face {
  font-family: 'National Park';
  font-weight: 500;
  src: url('../../assets/fonts/NationalPark-Regular.otf');
}

@font-face {
  font-family: 'National Park';
  font-weight: 700;
  src: url('../../assets/fonts/NationalPark-Heavy.otf');
}

@font-face {
  font-family: 'National Park';
  font-weight: 300;
  src: url('../../assets/fonts/NationalPark-Thin.otf');
}

@font-face {
  font-family: 'National Park Outline';
  font-weight: 500;
  src: url('../../assets/fonts/NationalPark-Outline.otf');
}
