.root {
  @apply cursor-pointer;
  @apply select-none;
}

.selected rect {
  stroke-width: 10px;
}

.root:hover .rect {
  stroke-width: 4px;
}

.root.rootDisabled .rect {
  /* stroke: #f0f; */
  /* opacity: 0.5; */
  /* fill: rgba(0, 0, 0, 0.3); */
}

.rootDisabled {
  opacity: 0.5;
}

.rect {
  @apply stroke-2 stroke-black;
  @apply fill-white;
}

.disabled {
}

.disabledOverlay {
  opacity: 0.3;
}

.controls {
  @apply bg-white;
  @apply h-full w-full;
  @apply border-2 border-pink-500;
  @apply rounded-md;
  /* @apply ml-2; */
}
