.entity-object {
  /* @apply font-mono; */
}

/* DISABLED */

.entity-object .entity-object__disabled-overlay {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.entity-object.entity-object--disabled .entity-object__disabled-overlay {
  opacity: 1;
}

.entity-object--disabled,
.entity-object__disabled-overlay {
  fill: url('#lines-diagonal');
}

.entity-object--disabled .entity-object__shape {
  stroke-dasharray: 5 5;
}

.entity-object__handle {
  @apply w-8 h-8;
  /* @apply shadow-md; */
  @apply rounded-lg;
  @apply cursor-move;
  text-shadow: -1px -1px 0 #fff, 1px -1px #fff, 1px 1px #fff, -1px 1px #fff;
  /* @apply bg-white bg-opacity-80; */
  x: 2;
  y: 2;
}

/* /DISABLED */

.entity-object--selected .entity-object__shape {
  /* @apply stroke-red; */
  stroke: rgba(59, 130, 246, 1);
  stroke-width: 4px;
}

.entity-object__shape {
  @apply fill-white stroke-black stroke-2;
  transition: all 0.1s ease-out;
}

.entity-object__controls {
  x: -1rem;
  y: -1rem;
  @apply relative w-8 h-8 cursor-pointer;
  @apply bg-white;
  @apply ring-2 ring-blue-500 rounded-md;
}

.entity-object__controls-icon-wrapper {
  @apply absolute -inset-y-0 -inset-x-0 flex items-center justify-center;
}

.entity-object__fo-body {
  @apply select-none;
  @apply shadow;
  @apply hover:shadow-lg;
  @apply transition-shadow ease-out;
  @apply pointer-events-none;
}

.entity-object__fo-body-content {
  @apply pointer-events-none;
  @apply h-full w-full;
  @apply flex flex-col items-center justify-center;
  @apply space-y-2;
  @apply relative;
  font-size: 0.625rem;
}

.entity-object__icon {
  @apply rounded-sm;
  @apply bg-blue-500;
  @apply p-1;
  @apply rounded-lg;
}

.entity-object__control-icon {
}
