@use 'sass:map';
@use '../../base/definitions' as D;
@use '../../base/settings' as S;

@mixin make-button-style($prefix, $color1, $color2) {
  $p: unquote($prefix);

  .#{$p} {
    @include border;
    background-color: $color1;
    border-color: $color2;
    color: $color2;
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    padding: map.get(D.$spacing, '04') map.get(D.$spacing, '05');
    cursor: pointer;
  }

  .#{$p}:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .#{$p}:hover:not(:disabled) {
    background-color: $color2;
    color: $color1;
  }
}

@include make-button-style(
  'button',
  S.$blueprint-blue-dark,
  S.$blueprint-blue-light
);

@include make-button-style(
  'button--inverse',
  S.$blueprint-blue-light,
  S.$blueprint-blue-dark
);
