@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/fonts/HankenGrotesk.css';

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@layer base {
  .button--base {
    @apply bg-black;
    @apply hover:bg-purple-600 hover:shadow-md;
    @apply focus:bg-purple-500;
  }

  select {
    @apply block w-full;
    @apply rounded-md;
    @apply shadow-md;

    @apply border-2 border-pink-500;

    /* Focus-related */
    @apply ring-purple-500;
    @apply focus:ring-2;
    @apply focus:outline-none;
    @apply focus:ring-offset-white ring-offset-2;
  }

  .input--base {
    @apply block w-full;
    @apply px-4 py-2;
    @apply rounded-md;
    @apply border-2 border-opacity-30;

    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;
    @apply focus:shadow-lg;
  }

  .module-object {
    rx: 0.75rem;
    ry: 0.75rem;
  }

  dl {
  }

  dt {
    @apply font-bold;
  }
}

@layer utilities {
  .focusable-base {
    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;
  }

  .focusable {
    @apply block w-full;
    @apply px-4 py-2;
    @apply rounded-md;
    @apply border-2 border-opacity-30;

    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;

    /* Shadows */
    @apply hover:shadow-md;
    @apply focus:shadow-lg;
  }

  .svg-shadow {
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1))
      drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
  }

  .fill-opacity-50 {
    fill-opacity: 0.5;
  }

  .stroke-opacity-50 {
    stroke-opacity: 0.5;
  }

  .stroke-dash-even {
    stroke-dasharray: 5 5;
  }

  .stroke-0 {
    stroke-width: 0;
  }
  .stroke-1 {
    stroke-width: 1px;
  }
  .stroke-2 {
    stroke-width: 2px;
  }
  .stroke-4 {
    stroke-width: 4px;
  }

  .x-0 {
    x: 0;
  }

  .y-0 {
    y: 0;
  }
}
