@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;

@import './assets/fonts/HankenGrotesk.css';

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
}

@layer base {
  pre,
  code {
    @apply font-mono;
  }

  a {
    @apply inline-block;
    @apply focus:outline-none;

    text-shadow: 0 2px 2px #fff7;
    box-shadow: inset 0 -1rem 0 -0.5rem #f43f5e;
    padding: 1px 2px;
  }

  a:focus {
    box-shadow: inset 0 -1.5rem 0 -0.5rem #f43f5e;
  }

  .button--base {
    @apply bg-black;
    @apply hover:bg-purple-600 hover:shadow-md;
    @apply focus:bg-purple-500;
  }

  select {
    @apply block w-full;
    @apply rounded-md;
    @apply shadow-md;

    @apply border-2 border-pink-500;

    /* Focus-related */
    @apply ring-purple-500;
    @apply focus:ring-2;
    @apply focus:outline-none;
    @apply focus:ring-offset-white ring-offset-2;
  }

  .button {
    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;
    @apply focus:shadow-lg;
  }

  .input--base {
    @apply block w-full;
    @apply px-4 py-2;
    @apply rounded-md;
    @apply border-2 border-opacity-30;

    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;
    @apply focus:shadow-lg;
  }

  .input--base.input--textarea {
    @apply font-mono;
  }

  .module-object {
    rx: 0.75rem;
    ry: 0.75rem;
  }

  dl {
  }

  dt {
    @apply font-bold;
  }
}

@layer utilities {
  .focusable-base {
    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;
  }

  .focusable {
    @apply block w-full;
    @apply px-4 py-2;
    @apply rounded-md;
    @apply border-2 border-opacity-30;

    @apply focus:border-pink-500;
    @apply focus:ring-2 ring-purple-500;
    @apply focus:ring-offset-white ring-offset-2;
    @apply focus:outline-none;

    /* Shadows */
    @apply hover:shadow-md;
    @apply focus:shadow-lg;
  }

  .svg-shadow {
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1))
      drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
  }

  .fill-opacity-50 {
    fill-opacity: 0.5;
  }

  .stroke-opacity-50 {
    stroke-opacity: 0.5;
  }

  .stroke-dash-even {
    stroke-dasharray: 5 5;
  }

  .stroke-0 {
    stroke-width: 0;
  }
  .stroke-1 {
    stroke-width: 1px;
  }
  .stroke-2 {
    stroke-width: 2px;
  }
  .stroke-4 {
    stroke-width: 4px;
  }

  .x-0 {
    x: 0;
  }

  .y-0 {
    y: 0;
  }
}
