$position: (
  absolute: absolute,
  relative: relative,
  fixed: fixed,
  static: static,
);

@each $name, $value in $position {
  .#{$name} {
    position: $value;
  }
}

.bottom-right {
  bottom: 0;
  right: 0;
}
