$position: (
  absolute: absolute,
  relative: relative,
  fixed: fixed,
  static: static,
);

@mixin position($pos) {
  position: map-get($position, $pos);
}

@each $name, $value in $position {
  .#{$name} {
    @include position($name);
  }
}

@mixin inset() {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin make-bottom-right() {
  bottom: 0;
  right: 0;
}

@mixin make-top-right() {
  top: 0;
  right: 0;
}

//

.inset {
  @include inset;
}

.bottom-right {
  @include make-bottom-right;
}

.top-right {
  @include make-top-right;
}
