@use 'sass:map';

@use '../base/settings' as S;
@use '../base/definitions' as D;
@use '../base/mixins' as M;

@each $key, $value in D.$font-size {
  .font-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in D.$font-weight {
  .font-#{$key} {
    font-weight: $value;
  }
}

@each $key, $value in D.$font-style {
  .font-#{unquote($key)} {
    font-style: unquote($value);
  }
}

@each $key, $value in D.$text-align {
  .text-#{$key} {
    text-align: $value;
  }
}

.font-narrow {
  font-family: S.$font-family-sans-serif-narrow;
}

.text-heading {
  font-size: map.get(D.$font-size, '06');
}

.font-narrow {
  font-family: 'Routed Gothic Narrow';
}

.nowrap {
  white-space: nowrap;
}
