.sidebar-modules {
  @apply relative;
}

.sidebar-modules .__search-clear-wrapper {
  @apply absolute -inset-y-0 right-1;
  @apply flex items-center;
}

.sidebar-modules .__search-clear-icon {
  @apply w-6 h-6 mx-auto;
}

.__search-clear--disabled {
  @apply hidden;
}

/* .__search-field::-webkit-search-cancel-button {
  @apply bg-purple-500;
  @apply text-green-500;
  position: relative;
  right: 20px;
} */

.sidebar-modules button {
  @apply border;
  @apply bg-purple-700;
  @apply text-white;
  @apply w-9 h-9;
  @apply rounded-md;
}

.module-list {
}

.module-list mark {
  @apply bg-pink-500;
  @apply text-white;
  @apply font-bold;
  @apply inline-block;
  @apply shadow;
  padding: 0 2px;
  margin: 0 1px;
}
