$font-family: (
  'sans-serif': "'Apercu Pro', sans-serif",
  'mono': "'Jetbrains Mono', 'Victor Mono', monospace",
) !default;

$font-size: (
  '01': 0.75rem,
  '02': 0.875rem,
  '03': 1rem,
  '04': 1.125rem,
  '05': 1.25rem,
  '06': 1.5rem,
  '07': 1.75rem,
  '08': 2rem,
  '09': 2.25rem,
  '10': 2.625rem,
  '11': 3rem,
  '12': 3.375rem,
  '13': 3.75rem,
  '14': 4.25rem,
  '15': 4.75rem,
  '16': 5.25rem,
) !default;

//

$spacing: (
  '01': 0.125rem,
  '02': 0.25rem,
  '03': 0.5rem,
  '04': 0.75rem,
  '05': 1rem,
  '06': 1.5rem,
  '07': 2rem,
  '08': 2.5rem,
  '09': 3rem,
  '10': 4rem,
  '11': 5rem,
  '12': 6rem,
  '13': 10rem,
);
