@use 'sass:map';
@use 'sass:color';
@use 'definitions' as D;

$font-family-mono: 'Jetbrains Mono' !default;
$font-family-sans-serif: 'Routed Gothic' !default;
$font-family-sans-serif-narrow: 'Routed Gothic Narrow' !default;

// Might not be needed, too many typefaces
$font-family-mono-secondary: 'CMU Typewriter Text' !default;

//

$radius-md: 0.5rem !default;

$body-offset: 20px - 1px !default;

$canvas-underlay-z: 1 !default;
$canvas-main-z: 5 !default;
$canvas-overlay-z: 11 !default;
$canvas-hover-element: 20 !default;

// Canvas draging ghost z-index
$canvas-ghost-z: 10 !default;

//

$color: (
  'prussian-blue': #003153,
);

// $blueprint-blue-dark: #405cb1;
$blueprint-blue-dark: color.adjust(
  map.get($color, 'prussian-blue'),
  $lightness: 10%
);
$blueprint-blue-medium: #98aedd;
$blueprint-blue-light: #e4eaf6;

//

$base-pad: map.get(D.$spacing, '03') !default;
$base-border-color: $blueprint-blue-light !default;

$main-bg-color: $blueprint-blue-dark !default;
$main-text-color: $blueprint-blue-light !default;

$default-border: (
  width: 2px,
  style: solid,
  radius: $radius-md,
  color: $blueprint-blue-light,
) !default;

$card-bg-color: $blueprint-blue-dark !default;
$card-border-color: $blueprint-blue-light !default;
$card-border-width: map.get($default-border, 'width') !default;
$card-border-radius: $radius-md !default;
$card-border-style: solid !default;

$card-border: $default-border;

//

$button-bg-color: $blueprint-blue-dark !default;
$button-text-color: $blueprint-blue-light !default;
$button-border-color: map-get($default-border, color);
